In [1]:
import numpy as np
import pandas as pd
import random

In [12]:
tablero = pd.DataFrame(np.full((10,10), ' '))
tablero

   0  1  2  3  4  5  6  7  8  9
0
1
2
3
4
5
6
7
8
9

In [27]:
def espacio_barco(c1,c2,orientacion,eslora):
    if orientacion == 'h':
        espacio_barco = tablero.loc[c1-1:c1+1, c2-1:c2-1+eslora+2] 
    if orientacion == 'v':
        espacio_barco = tablero.loc[c1-1:c1+eslora+1,c2-1:c2+1]
    return espacio_barco

In [28]:
def colocar_barco(eslora):
    
    sigo = True
    while sigo:
        sigo = False
        c1 = np.random.randint(0,10)
        c2 = np.random.randint(0,10)
        orientacion = np.random.choice(['h', 'v'])

        if orientacion == 'h' and ((c2+eslora)<10):
            
            if np.any(espacio_barco(c1,c2,orientacion,eslora) == 'O'):
                sigo = True
            else:
                tablero.loc[c1, c2:c2+eslora] = 'O'

        elif orientacion == 'v' and ((c1+eslora)<10):
            
            if np.any(espacio_barco(c1,c2,orientacion,eslora) == 'O'):
                sigo = True
            else: tablero.loc[c1:c1+eslora, c2] = 'O'
        else:
            sigo = True
    return tablero

In [29]:
def construir_tablero():
    for i in range(4):
        colocar_barco(0)
    for i in range(3):
        colocar_barco(1)
    for i in range(2):
        colocar_barco(2)
    colocar_barco(3)
    return tablero

In [30]:
construir_tablero()

   0  1  2  3  4  5  6  7  8  9
0
1  O     O     O  O  O  O     O
2  O     O                    O
3              O  O     O     O
4
5  O           O           O
6
7           O              O
8
9              O  O  O

In [263]:
#disparo
c1 = input()
c2 = input()
if tablero.loc[c1,c2] == ' ':
    print('Agua')
if tablero.loc[c1,c2] == 'O':
    print('Tocado')

KeyError: '7'