In [11]:
import numpy as np
import pandas as pd
import random

In [12]:
barcos = {
    'barco1_1' : {
        'cantidad' : 1,
        'vidas' : 1},
    'barco1_2' : {
        'cantidad' : 1,
        'vidas' : 1},
    'barco1_3' : {
        'cantidad' : 1,
        'vidas' : 1},
    'barco1_4' : {
        'cantidad' : 1,
        'vidas' : 1},
    'barco2_1' : {
        'cantidad' : 1,
        'vidas' : 2},
    'barco2_2' : {
        'cantidad' : 1,
        'vidas' : 2},
    'barco2_3' : {
        'cantidad' : 1,
        'vidas' : 2},
    'barco3_1' : {
        'cantidad' : 1,
        'vidas' : 3},
    'barco3_2' : {
        'cantidad' : 1,
        'vidas' : 3},
    'barco4_1' : {
        'cantidad' : 1,
        'vidas' : 4}}

In [17]:
class tableros:

   
    tama√±o = (10,10)

    def __init__(self):
        self.tablero = pd.DataFrame(np.full((10,10), ' '))

    def espacio_barco(self,c1,c2,orientacion,eslora):
        if orientacion == 'h':
            self.espacio_barco1 = self.tablero.loc[c1-1:c1+1, c2-1:c2+eslora] 
        if orientacion == 'v':
            self.espacio_barco1 = self.tablero.loc[c1-1:c1+eslora,c2-1:c2+1]
        return self.espacio_barco1

    def colocar_barco(self,eslora):
        self.lista_barcos = []
        sigo = True
        while sigo:
            sigo = False
            c1 = np.random.randint(0,10)
            c2 = np.random.randint(0,10)
            orientacion = np.random.choice(['h', 'v'])

            if orientacion == 'h' and (c2+(eslora-1)<10):
                
                if np.any(self.espacio_barco(c1,c2,orientacion,eslora) == 'O'):
                    sigo = True
                else:
                    self.tablero.loc[c1, c2:c2+(eslora-1)] = 'O'
                    self.barco = [(c1,c2+i) for i in range(eslora)]
                    self.lista_barcos.append(self.barco)

            elif orientacion == 'v' and (c1+(eslora-1)<10):
                
                if np.any(self.espacio_barco(c1,c2,orientacion,eslora) == 'O'):
                    sigo = True
                else: 
                    self.tablero.loc[c1:c1+(eslora-1), c2] = 'O'
                    self.barco = [(c1+i,c2) for i in range(eslora)]
                    self.lista_barcos.append(self.barco)
    
            else:
                sigo = True
        return self.lista_barcos

    def construir(self):
        self.barco1_1 = self.colocar_barco(0)
        self.barco1_2 = self.colocar_barco(0)
        self.barco1_3 = self.colocar_barco(0)
        self.barco1_4 = self.colocar_barco(0)

        self.barco2_1 = self.colocar_barco(1)
        self.barco2_2 = self.colocar_barco(1)
        self.barco2_3 = self.colocar_barco(1)

        self.barco3_1 = self.colocar_barco(2)
        self.barco3_2 = self.colocar_barco(2)

        self.barco4_1 = self.colocar_barco(3)
        return

In [14]:
tablero_jugador = tableros()

In [15]:
tablero_jugador.construir()

In [16]:
tablero_jugador.tablero

   0  1  2  3  4  5  6  7  8  9
0        O     O
1        O
2        O     O     O
3              O
4     O  O     O     O  O  O
5              O
6  O
7                 O
8        O                 O
9        O                 O